[submodule "plugins-folder/bundle/ag.vim"]
	path = plugins-folder/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "plugins-folder/bundle/ctrlp.vim"]
	path = plugins-folder/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
